.Hello-container{
    background:linear-gradient(45deg, rgb(28,27,27) 0%, rgb(24,27,27) 100%);
    height:400px;
    width:100%;
    margin:0px;

    
}
.wrapper{
    display:grid;
    grid-template-columns: repeat(2,auto);
    grid-gap:20px;
    


}
.hey{
    color:rgba(255,255,255,.7);
    font-size:20px;
    width:500px;
    padding:35px;  
    margin:40px;  
}
b{
    color:white;
    padding:10px;
    font-size:35px;
    display:flex;
    align-items: space-between;
}

img{
    margin-top:75px;
    margin-left:590px;
    height:300px;
    width:250px;
}
@media screen and (min-width:1024){
    .hey{
        color:rgba(255,255,255,.7);
        font-size:20px;
        width:250px;
        padding:20px;  
        margin:10px;  
    
    }
    
        .btn--large{
            margin-left:30px;
            margin-bottom:80px;
            padding: 10px;
            font-size: 21px;
        }
        img{
            margin-left:300px;
           
        }
}


@media screen and (max-width:768px) {
    .hey{
        color:rgba(255,255,255,.7);
        font-size:20px;
        width:250px;
        padding:20px;  
        margin:10px;  
    
    }
    img{
        margin-top:75px;
        margin-left:-10px;
        height:300px;
        width:230px;
    }
        .btn--large{
            margin-left:30px;
            margin-bottom:80px;
            padding: 10px;
            font-size: 21px;
        }
} 