.wrapper{
    background:linear-gradient(45deg, rgb(28,27,27) 0%, rgb(24,27,27) 100%);
    height:400px;
    width:100%;
    margin-top:-20px;
   

}
.hello{
    width:100%;
}
.describe{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:50px;
    flex-direction:column;
    margin-top:0px;
    color:rgb(54, 52, 52);
    line-height: 1.5;
}
.more{
    font-size:20px;
    margin-top:-70px;
    margin-left:900px;
    color:blue;
}
.heading{
  padding:600px;

}
.bog-description{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
  
}
#profile{
    width:60%;
    height:500px;
}
@media screen and (max-width:768px){
    .more{
        width:100%;
        margin-left:30px;
        margin-top:20px;
    }
    .container{
        width:100%;
        margin-right:30px;
    }
    .wrapper{
        width:100%;
        
    }
    .hello{
        width:100%;
        margin-left:0px;
    }
    .heading{
        
        padding:60px;
        margin:250px;
        margin-left: 180px;
        margin-right: 50px;
    }
    /* .describe{
       padding-left:140px;
    } */

}