.about-container{
    background:linear-gradient(45deg, rgb(28,27,27) 0%, rgb(24,27,27) 100%);
    height:400px;
    width:100%;
    display:grid;
    grid-template-columns: repeat(2,auto);

    
}
.about-wrapper{
    color:rgba(255,255,255,.7);
    font-size:20px;
    width:500px;
    padding:100px;
    margin-left:60px;
}
.descript{
    font-size:40px;
    padding:60px;
    padding-right:20px;
    margin-left:30px;
}
.intro{
    font-size:40px;
    margin-right:10px;
}
.explain{
   margin-left:100px;
   
}
.clients{
    padding:20px;
    font-size:40px;
}
.talk{
    font-size:30px;
    display:flex;
    justify-content:center;
    margin:40px;
}
#compliment{
    display:flex;
    justify-content:center;
    font-size:20px;
    margin-left:300px;
    margin-right:350px;
}
