*{
  padding:0;
  margin:0;
  font-family: "Relaway" sans-serif;
}

.container{
  width:100%;
  height:100vh;
  background-color: #1B242F;
  position: relative;
}
.content{
  background: rgba(196, 196, 196, 0.1);
  display:flex;
  flex-direction: column;
  width:30vw;
  height:59vh;
  border-radius: 10px;
  position:absolute;
  top:20%;
  right:0;
  left:0;
  /* justify-content: center; */
  margin:auto;
  align-items:center;
}
.title{
  margin-top:30px;
  color:white;
  font-weight:400;
}
.title span{
  color:#E31B6D;
  font-weight:700;
}
.login-content{
  background-color: #252934;
  height:40vh;
  width:26vw;
  border-radius: 10px;
  display:flex;
  margin-top:30px;
  flex-direction: column;
  text-align:center;
  align-items: center;
  padding: 12px;
}
#email{
  padding:10px;
  width:22vw;
  background: #1E242C;
  border:none;
  border-radius:2px;
  margin-top:60px;
  color:#5A5A5A
}
#password{
  padding:10px;
  width:22vw;
  background: #1E242C;
  margin-top:35px;
  border:none;
  border-radius:2px;
  color:#5A5A5A
}