@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Nunito:wght@200;300;400;600;700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,700&display=swap');

:root{
  --headerback:#252934;
  --navback:#1B242F;
  --navborder:#04C2C9;
  --textColor:#E31B6D;
  --textwhite:#ffff;
  --textSecondColor:#5A5A5A;
  --skillBackground:#E5E2E2;
  --skillanim:#04A4AA;
  --titleText:#444649;
  --projectback:#f5f5f5;
}
*{
  margin:0;
  padding:0;
  list-style: none;
  text-decoration: none;
  font-family: "Raleway" sans-serif;
}
.container{
  background-color:var(--projectback);
  height:100vh;
  width:100%;
}
.project-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-title{
  font-family: Raleway;
  font-weight:700;
  font-size:25px;
  padding-top:20px;
  margin-top:30px;
  margin-bottom:20px;
  position:relative;
  color:var(--textSecondColor);
}
.project-title-underline{
  width:55px;
  position:absolute;
  margin:auto;
  top:1830px;
  left:0;
  right:0;
  height:3px;
  background-color:var(--textSecondColor);
}
.content-container{
  width:100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top:40px;
  text-align:center;
  margin-top:50px;
}
.nav-project-container{
  text-align:center;
  display: flex;
  justify-content: center;
}
.nav-project-container ul{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.all{
  color:var(--titleText);
  font-family: Raleway;
  font-weight:600;
}
.project-list{
  height:300px;
  width:70%;
  padding-top:20px;
  margin-top:30px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:20px;
}
.card-project{
  background:url('../assets/commerce.PNG') center center/cover;
  background-repeat: no-repeat;
}
.project-hover{
  background-color: var(--projectback);
  width:100%;
  height:100%;
  /* margin-top:-29px; */
  text-align:center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  display:none;
}
.card-project:hover .project-hover{
  display:block;
  cursor:pointer;
  margin-top:-29px;
}
.card-project:hover .project-hover:hover .project-title{
  padding-top:50px;
  padding-bottom:50px;
  line-height:25pt;
}
.card-project:hover .project-hover:hover .languages{
  color:var(--textColor);
  font-family: Raleway;
  font-weight: 400;
  font-size:15px;
}
.card-project:hover .project-btn{
  border:3px solid var(--textColor);
  width:40%;
  margin:auto;
  padding:10px;
  font-family: Raleway;
  font-weight:600;
}
.project-btn:hover{
  background-color: var(--textColor);
  color:var(--textwhite);
  font-family: Raleway;
  font-weight:600;
}
.link-container{
  background-color: var(--textColor);
  color:var(--textwhite);
  padding:10px 40px 10px 40px;

}
.link-container a li{
  color:var(--textwhite)
}

/* -------------------- on mobile view ----------  */


@media screen and (max-width:768px){
 .project-title-underline{
   top:2310px;
 }
 .nav-project-container{
   margin:10px 40px 10px 40px;
   width:90%;
 }
 .nav-project-container ul a li{
   display:block;
 } 
 .nav-project-container ul{
   padding:0;
   width: 100%;
   font-size:11px;
   /* padding:40px; */
 }
 .link-container{
   padding:10px 30px 10px 30px;
 }
 .project-list{
   display:grid;
   grid-template-columns: repeat(1, 1fr);
   height:120vh;
 }
 
}