@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Nunito:wght@200;300;400;600;700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,700&display=swap');

:root{
  --headerback:#252934;
  --navback:#1B242F;
  --navborder:#04C2C9;
  --textColor:#E31B6D;
  --textwhite:#ffff;
  --textSecondColor:#5A5A5A;
  --skillBackground:#E5E2E2;
  --skillanim:#04A4AA;
  --titleText:#444649;
}
*{
  margin:0;
  padding:0;
  list-style: none;
  text-decoration: none;
  box-sizing:border-box;
  font-family: "Raleway" sans-serif;
}
.landing{
  background:var(--headerback);
  height:100vh;
  position:relative;
}
.nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:96%;
}
.login{

  border:3px solid var(--skillanim);
  padding:7px;
  width:6vw;
  text-align: center;
  margin-right:20px;
}
.login-text{
  font-family: Raleway;
  font-weight: 500;
  font-size: 15px;
  color:var(--textwhite);
}
.login:hover{
  border:3px solid var(--skillanim);
  background-color: var(--skillanim);
  transition:0.4s ease-in-out;
  cursor:pointer;
}
#title{
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  color: #FFF;
  line-height:1.2;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 50px;

}
#title span #names{
  color:var(--textColor);
  font-weight:600
}
.view-work{
  position:absolute;
  top:60%;
  left:0;
  right:0;
  font-family:Raleway;
  font-weight:400;
  margin:auto;
  color:var(--textwhite);
  font-size:20px;
  border:3px solid white;
  width:12vw;
  height:6vh;display:flex;
  align-items:center;
  justify-content:space-around;
  cursor:pointer;
}
.view-work .fa-arrow-down{
  display: none;
}
.view-work:hover{
  background-color: var(--navborder);
  border:3px solid var(--navborder);
  cursor: pointer;
}
.view-work:hover .fa-arrow-down{
  display: block;
}
.view-work:hover .fa-arrow-right{
  display:none;
}
#home {
  /* clip-path: url(#cache); */
  height:100%;
  width:100%;
  /* display:none; */
}

#red {
  fill: none;
  opacity: 0.15;
  stroke: #dadada;
  stroke-width: 3;
  stroke-miterlimit:3;
  stroke-dasharray: 200;
  stroke-dashoffset: 800;
  animation: draw 5s linear infinite;
  animation-fill-mode:forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; 
}

#blue {
  fill: none;
  opacity: 0.15;
  stroke: #e6e6e6;
  stroke-width: 2;
  stroke-miterlimit:10;
  stroke-dasharray: 200;
  stroke-dashoffset: 800;
  animation: draw 5s linear infinite;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#light-blue {
  fill: none;
  opacity: 0.15;
  stroke: #ececec;
  stroke-width: 2;
  stroke-miterlimit:10;
  stroke-dasharray: 200;
  stroke-dashoffset: 800;
  animation: draw 4s linear infinite;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;    
}

/* navbar */
.fixed-navbar{
  position:sticky;
  top:0;
  z-index:1;
}
.nav-container{
  display:flex;

  justify-content: space-between;
  background-color: var(--navback);
  position:relative;
  color:var(--textwhite);
  margin-bottom:20px;
}

ul{
  display:flex;
  justify-content: space-between;
  text-align:center;
  width:40vw;
  height:8vh;
  align-items: center;
  padding-left: 90px;
  
}
li{
  color:white;
  font-family: Raleway;
  font-weight:500;
  cursor:pointer;
}
.nav-container ul a li.active{
  color: var(--textColor);
}
.nav-container ul li.active{
  color: var(--textColor);
}
button{
  display:none;
}

.nav-hidden{
  display:none;
}
.bottom-line{
  background-color: var(--navborder);
  height:1vh;
  width:100%;
  position:absolute;
  top:100%;
}



/* -----------About page css--------------------------- */

.about-container{
  text-align:center;
  padding-bottom:150px;
  padding-top:50px;
}
.title-container{
  padding-bottom:30px;
  position:relative;
  color:var(--titleText);
  font-family:Raleway;
  font-weight:700;
}
.about-line{
  width:55px;
  position:absolute;
  margin:auto;
  top:35px;
  left:0;
  right:0;
  height:3px;
  background-color:var(--titleText);
}
.about-values{
  width:70vw;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
  margin:auto;
}
.first-values{
  display:flex;
  justify-content: center;
}
.second-values{
  display:flex;
  justify-content: center;
}
.value-title{
  padding:10px;
  font-family:Raleway;
  font-weight:600;
  opacity:0;
  color:var(--textSecondColor);
}
.fast-description{
  padding:10px;
  font-family:Raleway;
  font-weight:400;
  opacity:0;
  color: var(--textSecondColor);
}
.fast{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fast-icon{
  width:80px;
  display:flex;
  justify-content: center;
  align-items: center;
  height:80px;
  clip-path: polygon(0 28%, 48% 0, 100% 25%, 100% 71%, 50% 100%, 0 73%);
  background-color: var(--navborder);

}
.second-content{
  display: flex;
  justify-content: space-between;
  padding-left:90px;
  padding-right:90px;
  margin:auto;
  margin-top:50px; 
  width: 70vw;
  
}
.profile-header{
  color:var(--textSecondColor);
  font-family:Raleway;
  font-weight: 700;
  padding-bottom:20px;
}
.description{
  font-family: raleway;
  font-weight:400;
  color:var(--textSecondColor);

}
.description a{
  color:var(--skillanim);
}
.profile-description{
  width:30vw;
}
.profile-picture{
  width:280px;
  height:300px;
  background: url("../assets/rich-bw.jpg");
  background-repeat: none;
  background-size: cover;
  margin:auto;
  clip-path: polygon(0 23%, 51% 0, 100% 24%, 100% 73%, 51% 100%, 0 71%);
}
.skills-container{
  display:flex;
  padding:20px;
  margin-top:20px;
  flex-direction: column;
}
.fa-bars{
  color: white;
  font-size:20pt;
  margin:auto 0;
  margin-right:20px;
  display:none;

}
.skills-size{
  width:30vw;
  height: 25px;
  display: flex;
  margin:15px;
  justify-content: space-between;
  text-align:start;
  background:var(--skillBackground);
}
.skill-value{
  width:20vw;
  height:25px;
  background:var(--skillanim);
}
.skill-value1{
  width:15vw;
  height:25px;
  background:var(--skillanim);
}
.skill-value2{
  width:19vw;
  height:25px;
  background:var(--skillanim);
}
.skill-value3{
  width:26vw;
  height:25px;
  background:var(--skillanim);
}
.skill-value4{
  width:17vw;
  height:25px;
  background:var(--skillanim);
}
.skill-value5{
  width:12vw;
  height:25px;
  background:var(--skillanim);
}
.skill-name-holder{
  background:var(--navborder);
  width:7vw;
  height:25px;
  text-align:center;
  display:flex;
  align-items: center;
  justify-content: center;
}
.skill-name{
  color:var(--textwhite);
  font-family: Raleway;
  font-weight:600;
}
.skill-number{
  display:flex;
  align-items: center;
  color:var(--textSecondColor);
  margin-right:4px;
}
.animated.slide-in-left{
  animation: slideInLeft 0.75s ease both;
  -webkit-animation: slideInLeft 0.75s ease both;
  -moz-animation: slideInleft 0.75s ease both;
}
.animated.flip-in-x{
  animation: flipInX 0.75s ease both;
  -webkit-animation:flipInX 0.75s ease both;
  -moz-animation: flipInX 0.75s ease both;
}
.animated.fade-in{
  animation: fadeIn 0.75s ease both;
  -webkit-animation: fadeIn 0.75s ease both;
  -moz-animation: fadeIn 0.75s ease both;

}
.animated.slide-in-right{
  animation:slideInRight 0.75s ease both;
  -webkit-animation:slideInRight 0.75s ease both;
  -moz-animation: slideInRight 0.75s ease both;
}
@keyframes slideInRight{
  0%{
    opacity:0;
    transform:translateX(300px);
  }
  100%{
    opacity:1;
    transform:translateX(0);
  }
}
@keyframes fadeIn{
  100%{
    opacity:1;
  }
}
@keyframes flipInX{
  0%{
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity:0;
    -webkit-transform: perspective(400px) rotateY(90deg);
    transform:perspective(400px) rotateY(90deg);
  }
  40%{
    -webkit-animation-timing-function: ease-in;
    animation-timing-function:ease-in;
    -webkit-transform:perspective(400px) rotateY(-20deg);
    transform: perspective(400px) rotateY(-20deg);
  }
  60%{
    opacity:1;
    -webkit-transform: perspective(400px) rotateY(10deg);
    transform: perspective(400px) rotate(10deg);
  }
  80%{
    -webkit-transform:perspective(400px) rotateY(-5deg);
    transform:perspective(400px) rotateY(5deg);
  }
  100%{
    opacity:1;
    -webkit-transform:perspective(400px);
    transform:perspective(400px);
  }
}
@keyframes slideInLeft{
  0%{
    opacity:0;
    transform: translateX(-300px);
  }
  100%{
    opacity:1;
    transform:translateX(0);
  }
}


/* ------------Mobile css----------- */

@media screen and (max-width:768px){
  body{
    max-width:100%;
  }

  #home-anim{
    height:100vh;
    width:100%;
  }
  #title{
    font-size:16px;
    line-height: 20pt;
  }
  .profile-description{
    margin:auto;
  }
  .view-work{
    width:50vw;
    height:8vh;
  }
  .fixed-navbar{
    position:sticky;
    top:0; 
    width:100%;
  }
 .nav-container{
   margin-bottom:0;
   position:relative;
  
 }
  .nav-container ul li{
    display:none;
  }
  .login{

  border:3px solid var(--skillanim);
  padding:7px;
  width:12vw;
  text-align: center;
  margin-right:20px;
}
  .nav-links-bars{
    width:100%;
    background-color: var(--navback);
    height:40vh;
    margin-top:4px;
    z-index:1;
    position:absolute;

  }
  .nav-links-bars ul{
    width:100%;
  }
  .nav-links-bars ul{
    display:flex;
    flex-direction: column;
    padding-left:0;
    /* padding-top:10px; */
  }
  .nav-links-bars ul a li{
    display:block;
    color:var(--textwhite);
    padding:10px;

  }
  .fa-bars{
    display:block;
  }
  
  .about-values{
    width:80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    font-size:12px;
  }
  .second-content{
    flex-direction:column;
    width:80vw;
    justify-content: center;
    margin:0;
    align-items: center;
    padding:20px;
  }
  .profile-description{
    width:80vw;
    font-size:15px;
  }
  .skills-container{
    width:80vw;
  }
  .skills-size{
    width:80vw;
  }
  .skill-name-holder{
    width:22vw;
  }
  .skill-value{
    width:60vw;
  }
  .skill-value1{
    width:40vw;
  }
  .skill-value2{
    width:50vw;

  }
  .skill-value3{
    width:70vw;

  }
  .skill-value4{
    width:55vw;
  }
  .skill-value5{
    width:30vw;
  }
}